<%-  include('app-variables.html') -%>
<!--<link href="/plugin/bootstrap-3.3.7/dist/css/custom-bootstrap.css" rel="stylesheet" >-->
<!--<link href="/plugin/bootstrap-3.3.7/dist/css/custom.css" rel="stylesheet" >-->
<!--<link href="/stylesheets/animation.css" rel="stylesheet" >-->
<!--<link href="/stylesheets/tooltipneon.css" rel="stylesheet" >-->
<!--<link href="/stylesheets/main.css" rel="stylesheet" >-->
<!--<link href="/plugin/d3js/d3-scroll/d3-scroll.css" rel="stylesheet" >-->
<!--<link href="/plugin/d3js/d3-table/d3-table.js" rel="stylesheet" >-->
<!--<link rel="stylesheet" href="/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">-->

<link rel="stylesheet" href="/resource/public/bootstrap-3.3.7/dist/css/custom-bootstrap.css">
<link rel="stylesheet" href="/resource/public/bootstrap-3.3.7/dist/css/custom.css">
<link rel="stylesheet" href="/resource/public/plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="/resource/public/stylesheets/animation.css">
<link rel="stylesheet" href="/resource/public/stylesheets/base.css">
<link rel="stylesheet" href="/resource/public/plugin/d3js/table/d3table-html.css">
<link rel="stylesheet" href="/resource/public/plugin/d3js/scroll/d3.scroll.css">
<link rel="stylesheet" href="/resource/public/plugin/auto-slide/auto-slide.css">
<link rel="stylesheet" href="/resource/public/stylesheets/ui-check/ui-check.css">