<!--<script src="/plugin/jquery/jquery-1.9.1.min.js"></script>-->
<!--<script src="/javascripts/base.js"></script>-->
<!--<script src="/javascripts/share.js"></script>-->
<!--<script src="/plugin/d3js/d3.v4.js"></script>-->
<!--<script src="/plugin/d3js/d3-scroll/d3-scroll.js"></script>-->
<!--<script src="/plugin/d3js/d3-table/d3-table.js"></script>-->
<!--<script src="/plugin/template/template.min.js"></script>-->
<!--<script src="/javascripts/template-helper.js"></script>-->
<!--<script src="/plugin/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>-->
<!--<script src="/plugin/echarts/echarts.min.js"></script>-->
<!--<script src="/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>-->
<!--<script src="/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"></script>-->
<!--<script src="/javascripts/date-time-clock.js"></script>-->
<!--<script src="/javascripts/bootsrtap-layout.min.js"></script>-->
<!--<script src="/javascripts/utils.js"></script>-->

<script src="/resource/public/javascripts/config.js"></script>
<script src="/resource/public/javascripts/Dict.js"></script>
<script src="/resource/public/javascripts/interface.js"></script>
<script src="/resource/public/plugin/jquery/jquery-3.2.1.min.js"></script>
<script src="/resource/public/javascripts/uploadBtn.js"></script>
<script src="/resource/public/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="/resource/public/plugin/jquery-validate/messages_zh.js"></script>
<script src="/resource/public/plugin/d3js/d3.v4.js"></script>
<script src="/resource/public/plugin/d3js/scroll/d3.scroll.js"></script>
<script src="/resource/public/plugin/auto-slide/auto-slide.js"></script>
<script src="/resource/public/plugin/d3js/table/d3table-html.js"></script>
<script src="/resource/public/javascripts/utils.js"></script>
<script src="/resource/public/plugin/template/template.min.js"></script>
<script src="/resource/public/bootstrap-3.3.7/dist/js/bootstrap.js"></script>
<script src="/resource/public/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/resource/public/plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.min.js"></script>
<script src="/resource/public/plugin/echarts/echarts.min.js"></script>